<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:f20180276@goa.bits-pilani.ac.in">email</a></li>
   <li><a href="https://github.com/28shambhavi">github.com/28shambhavi</a></li>
   </ul>
  </footer>
  </body>

</html>
